`{% extends 'layout/admin_table_layout.html' %}
{% load components %}
{% load django_bootstrap5 %}
{% load static %}

{% block title %}Publicar estados de WhatsApp{% endblock %}
{% block page_title %}Publicar estados de WhatsApp{% endblock %}

{% block table %}
    <form method="post" class="table-responsive">
        {% csrf_token %}
        <div class="d-flex justify-content-end">
            <div>
                <input class="btn btn-primary disabled" type="submit" value="Publicar ahora">
            </div>
        </div>
        <table class="table table-sm table-hover mb-0">
            <thead>
            <tr>
                <th></th>
                <th>Nombre</th>
                <th>Cuenta</th>
                <th>Estado</th>
                <th>Tipo</th>
                <th>Publicaciones</th>
            </tr>
            </thead>
            <tbody>
            {% for object in object_list %}
                <tr>
                    <td>
                        <input type="checkbox" name="items" value="{{ object.id }}">
                    </td>
                    <td>{{ object.name }}</td>
                    <td>{{ object.account }}</td>
                    <td>{% status_badge object.active %}</td>
                    <td>{{ object.message_type }}</td>
                    <td>{{ object.published_count }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </form>
{% endblock %}



{% block empty %}
    {% url 'whatsapp:status.create' as create_url %}
    {% include 'components/empty.html' with url=create_url text="No existen estados en el sistema" %}
{% endblock %}


{% block page_scripts %}
    <script src="{% static 'js/publish-messages.js' %}"></script>
{% endblock %}



