{% extends 'layout/admin_table_layout.html' %}
{% load components %}
{% load static %}
{% load django_bootstrap5 %}

{% block title %}Ordenar estados {{ account }}{% endblock %}
{% block page_title %}Ordenar estados {{ account }}{% endblock %}

{% block empty %}
    {% url 'whatsapp:status.create' as create_url %}
    {% include 'components/empty.html' with url=create_url text="No existen estados en el sistema" %}
{% endblock %}

{% block table %}
    <form method="post">
        {% csrf_token %}
        {{ form.management_form }}

        <div class="mb-3">
            <p class="text-muted">
                Aquí puede organizar el orden de los estados. Arrastre cada elemento con el ícono de barras para
                reordenarlos según su preferencia y luego guarde los cambios.
            </p>
        </div>

        <input type="submit" class="btn btn-outline-primary" value="Guardar order actual"/>


        <div class="row row-cols-3 row-cols-md-4 row-cols-lg-6 g-4 my-4" id="sortable-list">
            {% for f in form %}
                <div class="col">
                    {{ f.id }}
                    {{ f.ORDER.as_hidden }}
                    {{ f.order.as_hidden }}

                    <div class="card">
                        {% if f.instance.file %}
                            <img src="{{ f.instance.file.url }}" class="card-img-top img-fluid bg-light-alt"
                                 style="object-fit: cover;"/>
                        {% endif %}
                        <div class="card-body p-2 d-flex flex-column">
                            <h6 class="fw-bold text-truncate mb-1">{{ f.instance.name }}</h6>
                            <p class="text-muted small mb-1 line-clamp-4 flex-grow-1">{{ f.instance.message|default:'Sin texto en el estado' }}</p>
                            <div>{% status_badge f.instance.active %}</div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>



        {% if object_list.count > 10 %}
            <input type="submit" class="btn btn-outline-primary" value="Guardar order actual"/>
        {% endif %}
    </form>
{% endblock %}

{% block page_scripts %}
    <script src="{% static 'libs/sortablejs/Sortable.min.js' %}"></script>
    <script src="{% static 'libs/sortablejs/MultiDrag.js' %}"></script>
    <script src="{% static 'js/sort-messages.js' %}"></script>
{% endblock %}
