`{% extends 'layout/admin_table_layout.html' %}
{% load components %}
{% load static %}
{% load django_bootstrap5 %}

{% block title %}Ordenar mensajes{% endblock %}
{% block page_title %}Ordenar mensajes{% endblock %}


{% block empty %}
    {% url 'whatsapp:status.create' as create_url %}
    {% include 'components/empty.html' with url=create_url text="No existen estados en el sistema" %}
{% endblock %}


{% block table %}
    <form method="post">
        {% csrf_token %}
        {{ form.management_form }}
        <div class="table-responsive">
            <table class="table table-striped mb-0" id="sortable-table">
                <thead>
                <tr>
                    <th></th>
                    <th>Mensaje</th>
                    <th>Estado</th>
                    <th class="text-end">
                        <input type="submit" class="btn btn-outline-primary" value="Guardar"/>
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for f in form %}
                    <tr>
                        <td width="25px">
                            <i class="fas fa-arrows-alt handler"></i>
                        </td>
                        {{ f.id }}
                        {{ f.ORDER.as_hidden }}
                        {{ f.order.as_hidden }}
                        <td>{{ f.instance.name }}</td>
                        <td>{% status_badge f.instance.active %}</td>
                        <td></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </form>
{% endblock %}

{% block page_scripts %}
    <script src="{% static 'libs/sortablejs/Sortable.min.js' %}"></script>
    <script src="{% static 'libs/sortablejs/MultiDrag.js' %}"></script>
    <script src="{% static 'js/sort-messages.js' %}"></script>
{% endblock %}