`{% extends 'layout/admin_table_layout.html' %}
{% load components %}
{% load static %}
{% load django_bootstrap5 %}

{% block title %}Ordenar mensajes{% endblock %}
{% block page_title %}Ordenar mensajes{% endblock %}


{% block empty %}
    {% url 'whatsapp:messages.create' as create_url %}
    {% include 'components/empty.html' with url=create_url text="No existen mensajes en el sistema" %}
{% endblock %}


{% block table %}
    <form method="post">
        {% csrf_token %}
        {{ form.management_form }}

        <input type="submit" class="btn btn-outline-primary" value="Guardar"/>

        <ul class="list-group mt-5" id="sortable-list">
            {% for f in form %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <div>
                        <i class="fas fa-bars me-2"></i>
                        {{ f.id }}
                        {{ f.ORDER.as_hidden }}
                        {{ f.order.as_hidden }}
                        {{ f.instance.name }}
                    </div>
                    <div>{% status_badge f.instance.active %}</div>
                </li>
            {% endfor %}
        </ul>
    </form>
{% endblock %}

{% block page_scripts %}
    <script src="{% static 'libs/sortablejs/Sortable.min.js' %}"></script>
    <script src="{% static 'libs/sortablejs/MultiDrag.js' %}"></script>
    <script src="{% static 'js/sort-messages.js' %}"></script>
{% endblock %}