{% extends 'layout/admin_layout.html' %}
{% load django_bootstrap5 %}
{% load static %}


{% block title %}{{ page_title }} {{ object }}{% endblock %}
{% block page_title %}{{ page_title }} {{ object }}{% endblock %}


{% block page_content %}
    <form class="p-2" enctype="multipart/form-data" method="post"
          {% if form.Meta.id %}id="{{ form.Meta.id }}"{% endif %}>
        {% csrf_token %}
        {% block form %}
            <div class="col-lg-6">
                {% bootstrap_form form %}
            </div>
        {% endblock %}
        {% if object %}
            <input class="btn btn-primary" type="submit" value="Actualizar">
        {% else %}
            <input class="btn btn-primary" type="submit">
        {% endif %}

        <a class="btn" href="{{ cancel_url }}">Cancelar</a>
    </form>
{% endblock %}