{% extends 'layout/admin_table_layout.html' %}
{% load components %}

{% block title %}Grupos de WhatsApp{% endblock %}
{% block page_title %}Grupos de WhatsApp{% endblock %}


{% block table_headers %}
    <th>Nombre</th>
    <th>Cuenta</th>
    <th>Estado</th>
{% endblock %}

{% block table_data %}
    <td>{{ object.name }}</td>
    <td>{% object_link object.account url='whatsapp:accounts.details' %}</td>
    <td>
        {% url 'whatsapp:groups.toggle-status' pk=object.pk as change_status_url %}
        {% toggle_status_badge object.active submit_url=change_status_url %}
    </td>
    {#    <td class="text-end">#}
    {#        {% url 'whatsapp:groups.delete' pk=object.pk as delete_url %}#}
    {#        {% url 'whatsapp:groups.update' pk=object.pk as edit_url %}#}
    {##}
    {#        {% include 'components/update_link.html' with url=edit_url %}#}
    {#        {% include 'components/delete_link.html' with url=delete_url %}#}
    {#    </td>#}
{% endblock %}

{% block empty %}
    {% url 'whatsapp:groups.create' as create_url %}
    {% include 'components/empty.html' with url=create_url text="No existen grupos en el sistema" %}
{% endblock %}