`{% extends 'layout/admin_table_layout.html' %}
{% load components %}
{% load django_bootstrap5 %}

{% block title %}Cuentas de WhatsApp{% endblock %}
{% block page_title %}Cuentas de WhatsApp{% endblock %}


{% block table_headers %}
    <th>Nombre</th>
    <th>Telefono</th>
    <th>Estado</th>
    <th class="text-end">
        {% url 'whatsapp:accounts.create' as create_url %}
        <a href="{{ create_url }}" class="btn btn-primary"><i class="fa fa-plus"></i> Crear Nuevo</a>
    </th>
{% endblock %}

{% block table_data %}
    <td>{% object_link object url='whatsapp:accounts.details' %}</td>
    <td>{{ object.chat_id }}</td>
    <td>
        {% url 'whatsapp:accounts.toggle-status' pk=object.pk as change_status_url %}
        {% toggle_status_badge object.active submit_url=change_status_url %}
    </td>
    <td class="text-end">
        <button type="button" class="btn btn-outline-primary btn-sm dropdown-toggle" data-bs-toggle="dropdown"
                aria-expanded="false">
            Acciones <i class="mdi mdi-chevron-down"></i>
        </button>
        <div class="dropdown-menu">
            {% url 'whatsapp:accounts.delete' pk=object.pk as delete_url %}
            {% url 'whatsapp:accounts.update' pk=object.pk as edit_url %}
            {% url 'whatsapp:accounts.sort-messages' pk=object.pk as sort_messages_url %}
            {% url 'whatsapp:accounts.sort-status' pk=object.pk as sort_status_url %}
            {% url 'whatsapp:accounts.details' pk=object.pk as profile_url %}


            <a class="dropdown-item" href="{{ profile_url }}">Ver perfil</a>
            <a class="dropdown-item" href="{{ sort_messages_url }}">Organizar mensajes</a>
            <a class="dropdown-item" href="{{ sort_status_url }}">Organizar estados</a>
            <a class="dropdown-item" href="{{ edit_url }}">Editar</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{ delete_url }}">Eliminar</a>
        </div>
    </td>
{% endblock %}`

{% block empty %}
    {% url 'whatsapp:accounts.create' as create_url %}
    {% include 'components/empty.html' with url=create_url text="No existen cuentas en el sistema" %}
{% endblock %}